<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            display: grid;
            place-items: center;
            height: 100vh;
            font-family: sans-serif;
        }

        .box{
            padding: 1rem;
            background-color: black;
            text-align: center;
        }

        .box a{
            color: #fff;
            display: block;
            margin: 2rem auto;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>

    <div class="box">
        <a href="/login">Click here to login</a>
        <a href="/signup">Click here to register</a>
    </div>
    
</body>
</html>